{% load staticfiles %}
{% load wysiwyg %}
<!DOCTYPE html>
<html lang="en">
 <head>
 
   <meta charset="utf-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1">
   <title>{% block title %}Parts of Speech{% endblock %}</title>

   <!-- Bootstrap -->
   
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
 </head>
<body>
<div class="container">
    <div id="container">
        <div id="menu">
            {% block nav-global %}
            <div class = "jumbotron">
              <h1>Welcome</h1>
      {%if user and not user.is_anonymous %}
      <h3>
      Hello {{user.get_full_name|default:user.username}} 
      </h3>
      {% endif %}
      </div>
      {%if user and not user.is_anonymous %}
      <ul class="nav nav-tabs nav-justified">
      <li><a href = "{%url 'blog.views.home'%}">Home </a></li>
      <li><a href = "/welcome/">My Blogs </a></li>
      
      <li>
      <a href= "{% url 'auth:logout' %}?next={% url 'blog.views.home' %} ">Logout
      </a>
      </li>
      
      </ul>
      {% else %}
      <ul class="nav nav-tabs nav-justified">
      <li><a href = "{{ request.path}}">Home </a></li>
    <li><a href = "{% url 'social:begin' 'facebook' %} ">Login with facebook</a>
      
      </li>
      </ul>
      </div>
      
      {% endif %}
      
  
            {% endblock %}
        </div>
        <div class ="row">
        <div class="col-md-1"></div>
        <div class= "col-md-9">
        <div id="content">
            {% block main %}
            {% endblock %}
        </div>
    </div>
    <div class="col-md-1"></div>
    </div>
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
 <script type="text/javascript" src="{% static "ckeditor/ckeditor/ckeditor.js" %}"></script>
<script type="text/javascript" src="{% static "ckeditor/ckeditor-init.js" %}"></script>
    </div>
</body>

</html>