{% extends 'baseauth.html' %}

{% block main %}
 <div>
 
      
      
      <h1>Blog</h1>
      <div class = "row">
        <div class = "col-md-8">
          <div class = "list-group">
      {% if blog %}
      
      {% for blog in blog %}
     <a href="{{ blog.get_absolute_url }}"> <h4><div class="title">{{ blog.title }}</div></h4></a>
            <div class="time">{{ blog.posted_on }}</div>
      {% endfor %}
          </div>
        </div>
      </div>
      {% else %}
            <p>There are no posts.</p>
      {% endif %}

      {% if blog.object_list and blog.paginator.num_pages > 1 %}
      <div class="pagination" style="margin-top: 20px; margin-left: -20px; ">
            <span class="step-links">
                {% if blog.has_previous %}
                    <a href= "?page={{ blog.previous_page_number }}">newer entries &lt;&lt; </a>
                {% endif %}

                <span class="current">
                    &nbsp;Page {{ blog.number }} of {{ blog.paginator.num_pages }}
                </span>

                {% if blog.has_next %}
                    <a href="?page={{ blog.next_page_number }}"> &gt;&gt; older entries</a>
                {% endif %}
            </span>
        </div>
        {% endif %}

      </div>
{% endblock %}