{% extends 'baseauth.html' %}
{% block main%}

{%if ans %}
      
      <a href = "{%url 'blog.views.create' uid%}">Create a New Blog</a>
      
      <h1>Blog</h1>
      {% if blog %}

      {% for blog in blog %}
     <a href="{{ blog.get_absolute_url }}"> <h2><div class="title">{{ blog.title }}</div></h2>
      <hr>
      <ul>
            <div class="time">{{ blog.posted_on }}</div>
            
      </ul></a>
     {% endfor %}

      
      {% else %}
            <p>There are no posts.</p>
      {% endif %}
      
 {% else %}
 <h3> You need to register in order to write blog </h3>
 <form method = "POST" action = "{%url 'blog.views.register' uid%}">
 {% csrf_token %}
 	UserName {{form.username}}<br>
 	<input type="checkbox">I accept all terms and conditions<br>
 	<input type ="submit" value = "submit">
 </form>
 {% endif %}
 {%endblock%}